/* the game canvas */

* {
	font-family: "Lato", "Arial";
}

canvas {
	border: 2px solid #606060;
	border-radius: 4px;
	background-color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
